<h1>Registration Form</h1>

<form
  #regForm="ngForm"
  (ngSubmit)="empRegister(regForm.value)"
  novalidate
>
  <table>
    <tr>
      <td>EmpName</td>
      <td><input type="text" name="empName" ngModel /></td>
    </tr>
    <tr>
      <td>Salary</td>
      <td><input type="number" name="salary" ngModel /></td>
    </tr>
    <tr>
      <td>Enter gender</td>
      <td>
        <select id="gender" name="gender" ngModel>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>DOJ</td>
      <td><input type="date" name="doj" ngModel /></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><input type="text" name="country" ngModel /></td>
    </tr>
    <tr>
      <td>Email-Id</td>
      <td>
        <input
          type="email"
          name="emailId"
          #emailId="ngModel"
          ngModel
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|co\.in|in|edu)"
        />
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input
          type="password"
          name="password"
          #password="ngModel"
          minlength="8"
          ngModel
          required
          pattern="(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&^])[A-Za-z\d@$!%?&^]{8,}"
        />
      </td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td>
        <input
          type="password"
          name="password1"
          #password1="ngModel"
          minlength="8"
          ngModel
          required
        />
      </td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td>
        <input
          type="text"
          name="mobile"
          #mobile="ngModel"
          ngModel
          maxlength="10"
          minlength="10"
          pattern="^[7-9][0-9]{9}$"
        />
      </td>
    </tr>
    <!-- <tr>
      <td>DeptId</td>
      <td><input type="number" name="deptId" ngModel /></td>
    </tr> -->
    <tr>
      <td>Department</td>
      <td>
      <select name="department" ngModel>
        <option value="" selected>Select Department</option>
        <option value="{{department.deptId}}" *ngFor="let department of departments"> {{department.deptName}} </option>
    </select>
      </td>
  </tr>
  

    <tr>
      <td>
        <button [disabled]="!regForm.valid">Register</button> Already have
        an Account?
        <a href="">Login</a>
      </td>
    </tr>

  </table>

  <br />
  <div style="color: red">
    <div *ngIf="emailId.errors?.['required'] && emailId.touched">
      Please provide the Email-Id
    </div>
    <div *ngIf="password.errors?.['required'] && password.touched">
      Please provide the Password
    </div>
    <div *ngIf="emailId.errors?.['pattern'] && emailId.touched">
      Please provide a valid Email-Id
    </div>
    <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">
      Please provide atleast 2 characters for Email-Id
    </div>
    <div *ngIf="password.errors?.['minlength'] && password.touched">
      Please provide at least 8 characters for Password
    </div>
    <div *ngIf="password.errors?.['pattern'] && password.touched">
      Password must contain at least one uppercase letter, one lowercase letter,
      one numeric digit, and one special character (excluding '.')
    </div>
    <div *ngIf="mobile.errors?.['minlength'] && mobile.touched">
      Please provide atleast 10 characters for Mobile Number
    </div>
    <div *ngIf="!mobile.valid">Please provide a valid Mobile Number</div>
    <div *ngIf="!(password.value === password1.value) && password.touched">
      The passwords Should match!
    </div>
  </div>
</form>
